@using Microsoft.AspNetCore.Identity
@using Lab5.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link">@User.Identity?.Name</span>
    </li>
    <li class="nav-item">
        <form class="d-inline" asp-controller="Account" asp-action="Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
            <button type="submit" class="nav-link btn btn-link">Odjava</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Prijava</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Registracija</a>
    </li>
}