@model IEnumerable<Lab5.Models.Attachment>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Datoteka</th>
            <th>Veličina</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attachment in Model)
        {
            <tr>
                <td>
                    <a href="@attachment.FilePath" target="_blank">@attachment.FileName</a>
                </td>
                <td>@attachment.FileSize</td>
                <td class="text-end">
                    <button type="button" class="btn btn-sm btn-danger js-delete-attachment" data-id="@attachment.Id">Obriši</button>
                </td>
            </tr>
        }
    </tbody>
</table>